In [1]:
import pandas as pd

In [2]:
sales = pd.read_csv("Data/sales.csv",index_col='State')

In [3]:
sales

,Total Expenses,Product,Sales,Market Size,Profit,Market,Marketing,Product Type,Inventory,Type
State,,,,,,,,,,
California,63.0,Amaretto,109.0,Major Market,-131.0,West,40,Coffee,2947.0,Regular
California,55.0,Green Tea,201.0,Major Market,88.0,West,24,Tea,659.0,Regular
California,143.0,Caffe Mocha,289.0,Major Market,25.0,West,109,Espresso,788.0,Regular
California,113.0,Decaf Espresso,576.0,Major Market,216.0,West,81,Espresso,1744.0,Decaf
California,37.0,Chamomile,247.0,Major Market,148.0,West,26,Herbal Tea,809.0,Decaf
...,...,...,...,...,...,...,...,...,...,...
Wisconsin,34.0,Darjeeling,90.0,Small Market,20.0,Central,11,Tea,458.0,Regular
Wisconsin,36.0,Darjeeling,113.0,Small Market,31.0,Central,14,Tea,454.0,Regular
Wisconsin,86.0,Earl Grey,150.0,Small Market,1.0,Central,57,Tea,506.0,Regular
Wisconsin,79.0,Earl Grey,131.0,Small Market,-3.0,Central,49,Tea,627.0,Regular
Wisconsin,87.0,Earl Grey,165.0,Small Market,4.0,Central,58,Tea,513.0,Regular

In [4]:
hightest_sales=(sales['Sales']>300)

In [5]:
hightest_sales

State
California    False
California    False
California    False
California     True
California    False
              ...
Wisconsin     False
Wisconsin     False
Wisconsin     False
Wisconsin     False
Wisconsin     False
Name: Sales, Length: 4241, dtype: bool

In [7]:
sales.loc[hightest_sales]

,Total Expenses,Product,Sales,Market Size,Profit,Market,Marketing,Product Type,Inventory,Type
State,,,,,,,,,,
California,113.0,Decaf Espresso,576.0,Major Market,216.0,West,81,Espresso,1744.0,Decaf
California,99.0,Lemon,582.0,Major Market,291.0,West,77,Herbal Tea,1268.0,Decaf
California,142.0,Columbian,687.0,Major Market,364.0,West,90,Coffee,2067.0,Regular
California,166.0,Columbian,902.0,Major Market,508.0,West,127,Coffee,2617.0,Regular
California,139.0,Columbian,664.0,Major Market,349.0,West,87,Coffee,2580.0,Regular
...,...,...,...,...,...,...,...,...,...,...
Washington,71.0,Chamomile,329.0,Small Market,171.0,West,40,Herbal Tea,932.0,Decaf
Washington,73.0,Chamomile,334.0,Small Market,171.0,West,41,Herbal Tea,1119.0,Decaf
Washington,75.0,Chamomile,347.0,Small Market,179.0,West,40,Herbal Tea,961.0,Decaf
Wisconsin,149.0,Columbian,317.0,Small Market,35.0,Central,120,Coffee,705.0,Regular
Wisconsin,139.0,Columbian,314.0,Small Market,48.0,Central,120,Coffee,705.0,Regular

# select list of colums from filtered

In [13]:
sales.loc[hightest_sales,['Product','Profit','Sales']]

                   Product  Profit  Sales
State
California  Decaf Espresso   216.0  576.0
California           Lemon   291.0  582.0
California       Columbian   364.0  687.0
California       Columbian   508.0  902.0
California       Columbian   349.0  664.0
...                    ...     ...    ...
Washington       Chamomile   171.0  329.0
Washington       Chamomile   171.0  334.0
Washington       Chamomile   179.0  347.0
Wisconsin        Columbian    35.0  317.0
Wisconsin        Columbian    48.0  314.0

[669 rows x 3 columns]

# get unique values

In [15]:
sales['Product'].unique()

array(['Amaretto', 'Green Tea', 'Caffe Mocha', 'Decaf Espresso',
       'Chamomile', 'Lemon', 'Mint', 'Darjeeling', 'Earl Grey',
       'Columbian', 'Caffe Latte', 'Decaf Irish Cream',
       'Regular Espresso'], dtype=object)

In [16]:
products = ['Green Tea','Lemon','Mint']

In [22]:
filtered_products = sales['Product'].isin(products)
filtered_products

State
California    False
California     True
California    False
California    False
California    False
              ...
Wisconsin     False
Wisconsin     False
Wisconsin     False
Wisconsin     False
Wisconsin     False
Name: Product, Length: 4241, dtype: bool

In [23]:
sales.loc[filtered_products]

,Total Expenses,Product,Sales,Market Size,Profit,Market,Marketing,Product Type,Inventory,Type
State,,,,,,,,,,
California,55.0,Green Tea,201.0,Major Market,88.0,West,24,Tea,659.0,Regular
California,99.0,Lemon,582.0,Major Market,291.0,West,77,Herbal Tea,1268.0,Decaf
California,25.0,Mint,90.0,Major Market,26.0,West,12,Herbal Tea,541.0,Decaf
California,54.0,Green Tea,168.0,Major Market,47.0,West,22,Tea,677.0,Regular
California,88.0,Lemon,467.0,Major Market,165.0,West,66,Herbal Tea,923.0,Decaf
...,...,...,...,...,...,...,...,...,...,...
Wisconsin,25.0,Lemon,143.0,Small Market,80.0,Central,16,Herbal Tea,842.0,Decaf
Wisconsin,20.0,Lemon,83.0,Small Market,40.0,Central,8,Herbal Tea,856.0,Decaf
Wisconsin,21.0,Lemon,91.0,Small Market,45.0,Central,9,Herbal Tea,863.0,Decaf
Wisconsin,27.0,Lemon,144.0,Small Market,58.0,Central,16,Herbal Tea,842.0,Decaf
Wisconsin,25.0,Lemon,123.0,Small Market,64.0,Central,13,Herbal Tea,772.0,Decaf