In [2]:
import pandas as pd

# creating data

In [3]:
pd.DataFrame({'Yes':[50,20],'No':[131,2]})

   Yes   No
0   50  131
1   20    2

In [4]:
pd.DataFrame({'Bob':['i like it.','it was wonderful'], 'Sue':['Pretty goood','Bland']})

                Bob           Sue
0        i like it.  Pretty goood
1  it was wonderful         Bland

In [11]:
pd.DataFrame({'Bob':['i like it','it was wonderful'],'Sue':['Pretty good','bland']},index=['Product A','Product B'])

                        Bob          Sue
Product A         i like it  Pretty good
Product B  it was wonderful        bland

# series

In [12]:
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [13]:
pd.Series([1,2,3,4,5], index=["first","second","third","fourth","fifth"])

first     1
second    2
third     3
fourth    4
fifth     5
dtype: int64